@import url('https://fonts.googleapis.com/css?family=Hind');

*{
    margin: 0;
    padding: 0;
}

body{
    color: #3e3e3e;
    font: 400 14px/1.5 'Hind', sans-serif;
}
header{
    padding: 10px;
}
.container {
    width: 80%;
    margin: 0 auto;
}



.clearfix:after,
.clearfix:before {
    display: table;
    content: '';
}
.clearfix:after {
    clear: both;
}

.logo img {
    float: left;
    width: 74px;
    height: auto;
}

.call, .address {
    color: #565655;
    font-family: 'Hind', sans-serif;
    font-weight: 600;
    line-height: 2.143;
    z-index: 63;
    margin-left: 5%;
    padding-top: 22px;
    float: left;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

i.fa-phone, i.fa-location-arrow {
    color: #000;
    font-size: 21px;
}

i.fa-location-arrow {
    padding-right: 6px;
}

#wrapper { 
/*    background: url(../image/photo.jpg) no-repeat center / cover;*/
    width: 100%;
    height: auto;
    position: relative;
}

.photo img{
    width: 100%;
    position: relative;
}

.titles {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

h1 {
    font-size:  46px;
    margin-top: 50px;
    color: #fff;
    background-color: black;
    width: 60%;
    text-align: center;
    
}

.titles p {
    font-size: 30px;
    margin-top: 20px; 
    color: #fff; 
    background-color: 	#2F4F4F;
    width: 40%;
    text-align: center;

}


/*
.button {
    width: 15.96%;
    border-radius: 1px 2px 2px 1px;
    border: 1px solid #15a4fa;
    background-color: grey;
    display: block;
    margin: 40px auto;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    padding: 10px;
}

.button:hover {
    background-color: #15a4fa;
}
*/

.layout{
    padding-top: 25px;
}

.port {
    width: 25%;
    border-bottom: 2px solid black;
}

h2{
    color: #3e3e3e;
    font-size: 40px;
    text-align: center;
}


.navbar {
    margin-top: 5%;
}

ul {
    display: block;
    list-style-type: disc;
    font-size: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px; 
}


li {
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;
    display: inline-block;
    font-size: 16px;
    border-bottom: 2px solid grey;
    width: 25%;
    
}

ul li:hover { 
    border-bottom: 2px solid #000;
}
nav li a:hover {
    color: #000;
}

nav li a {
    color: #000;
    font-size: 16px;
    padding: 24px 19px 16px 7px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: #3e3e3e;
    font-size: 18px;   
    display: flex;
    justify-content: space-around;
}
.projects{
    width: 100%;
}
.project1 img,
.project2 img{
    width: 33%;
    height: auto;
}
.project1,
.project2{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

































@media screen and (max-width: 1160px){
    .titles h1{
        font-size: 38px;
    }
    .titles p{
        font-size: 25px;
    }
}
@media screen and (max-width: 960px){
    .titles h1{
        font-size: 26px;
    }
    .titles p{
        font-size: 25px;
    }
}
@media screen and (max-width: 735px){
    .titles h1{
        font-size: 20px;
    }
    .titles p{
        font-size: 16px;
    }
}
@media screen and (max-width: 500px){
    .titles h1{
        font-size: 12px;
    }
    .titles p{
        font-size: 10px;
    }
}

